{% if model.is_enum -%}
class {{ model.class_name }}({{ model.enum_base_classes }}):
{{ model.enum_members_block }}
{% elif model.is_alias -%}
{{ model.class_name }}: TypeAlias = "{{ model.alias_expression }}"
{% else -%}
class {{ model.class_name }}(BaseModel):
    model_config = ConfigDict(populate_by_name=True, extra="ignore")
{% if not model.has_fields -%}
    pass
{% else -%}
{{ model.fields_block }}
{% endif %}
{% endif %}
