export type JsonPrimitive = string | number | boolean | null;
export type JsonValue = JsonPrimitive | JsonValue[] | { [key: string]: JsonValue };
{% for model in models %}
{% include "partials/model_interface.ts.tera" %}
{% endfor %}
