from __future__ import annotations

from enum import Enum
from typing import Any, TypeAlias

from pydantic import BaseModel, ConfigDict, Field

{% for model in models %}
{% include "partials/model.py.tera" %}
{% endfor %}
