from __future__ import annotations

from enum import Enum
from typing import Any, TypeAlias
from uuid import UUID

from pydantic import BaseModel, ConfigDict, Field, UUID4

{% for model in models %}
{% include "partials/model.py.tera" %}
{% endfor %}
