{%- set class_name = model.name | pascal_case -%}
{%- if model.kind == "enum" %}
{%- if model.base.name == "integer" %}
class {{ class_name }}(int, Enum):
{%- elif model.base.name == "number" %}
class {{ class_name }}(float, Enum):
{%- else %}
class {{ class_name }}(str, Enum):
{%- endif %}
{%- for val in model.values %}
    {{ val | screaming_snake_case }} = {{ val | json_encode }}
{%- endfor %}

{%- elif model.attributes.alias_type_ref %}
{{ class_name }}: TypeAlias = {{ model.attributes.alias_type_ref | py_type }}

{%- else %}
class {{ class_name }}(BaseModel):
    model_config = ConfigDict(populate_by_name=True, extra="ignore")
{%- if model.fields %}
{%- for field in model.fields %}
{%- set py_name = field.name | snake_case | suffix_with_underscore_if_keyword %}
    {{ py_name }}: {{ field.type_ref | py_type }}{% if field.nullable %} | None{% endif %}{{ field | py_field_assignment(py_name=py_name) }}

{%- endfor %}
{%- else %}
    pass
{%- endif %}
{%- endif %}
