{%- set operation = operation | ts_operation -%}
{%- set raw_method_name = operation.name | ts_raw_method -%}
{%- set method_name = operation.name | ts_id -%}
{%- set args_sig = operation | ts_args_sig -%}
{%- set fwd_args = operation | ts_fwd_args -%}
{%- set return_type = operation | ts_return_type -%}
{%- set response_encoding = operation | ts_response_encoding -%}
{%- set summary = operation.attributes.summary | default(value="") | trim -%}
{%- set doc_params = operation.params | ts_doc_params -%}
{%- set deprecated = operation.attributes.deprecated | default(value=false) -%}
{%- set has_doc = summary or doc_params | length > 0 or deprecated -%}
{%- set path_params = operation.params | filter(attribute="location", value="path") -%}
{%- set query_params = operation.params | filter(attribute="location", value="query") -%}
{%- set header_params = operation.params | filter(attribute="location", value="header") -%}
{%- set has_json_body = operation.request_body and operation.request_body.media_type == "application/json" -%}
{%- set has_headers = header_params | length > 0 or has_json_body -%}
{%- if has_doc %}
  /**
{%- if summary %}
   * {{ summary }}
   *
{%- endif %}
   * Returns the raw HTTP response without parsing it or throwing for HTTP errors.
{%- for p in doc_params %}
   * @param {{ p.name }} {{ p.description }}
{%- endfor %}
{%- if deprecated %}
   * @deprecated This operation is deprecated.
{%- endif %}
   */
{%- endif %}
  async {{ raw_method_name }}({{ args_sig }}): Promise<Response> {
    const {{ operation.path_identifier }} = {{ operation.path | ts_path }};
{%- for param in path_params %}{%- if param.attributes.content_encoding %}
    validateStringEncoding({{ param.identifier | default(value=param.name) }}, "{{ param.attributes.content_encoding }}", "path parameter `{{ param.name }}`", this.validateContentEncodings, {{ operation.request_options_identifier }});
{%- endif %}{%- endfor %}
{%- for param in query_params %}{%- if param.required and param.attributes.content_encoding %}
    validateStringEncoding({{ param.identifier | default(value=param.name) }}, "{{ param.attributes.content_encoding }}", "query parameter `{{ param.name }}`", this.validateContentEncodings, {{ operation.request_options_identifier }});
{%- endif %}{%- endfor %}
{%- for param in header_params %}{%- if param.required and param.attributes.content_encoding %}
    validateStringEncoding({{ param.identifier | default(value=param.name) }}, "{{ param.attributes.content_encoding }}", "header `{{ param.name }}`", this.validateContentEncodings, {{ operation.request_options_identifier }});
{%- endif %}{%- endfor %}
{%- if operation.request_body and operation.request_body.required and operation.request_body.attributes.content_encoding %}
    validateStringEncoding({{ operation.body_identifier }}, "{{ operation.request_body.attributes.content_encoding }}", "request body", this.validateContentEncodings, {{ operation.request_options_identifier }});
{%- endif %}
{%- if query_params | length > 0 %}
    const {{ operation.base_query_identifier }} = new URLSearchParams();
{%- for param in query_params %}
{%- if param.required %}
    {{ operation.base_query_identifier }}.set("{{ param.name }}", String({{ param.identifier | default(value=param.name) }}));
{%- else %}
    if ({{ param.identifier | default(value=param.name) }} !== undefined) {
{%- if param.attributes.content_encoding %}
      validateStringEncoding({{ param.identifier | default(value=param.name) }}, "{{ param.attributes.content_encoding }}", "query parameter `{{ param.name }}`", this.validateContentEncodings, {{ operation.request_options_identifier }});
{%- endif %}
      {{ operation.base_query_identifier }}.set("{{ param.name }}", String({{ param.identifier | default(value=param.name) }}));
    }
{%- endif %}
{%- endfor %}
    const {{ operation.query_identifier }} = mergeQuery({{ operation.base_query_identifier }}, {{ operation.request_options_identifier }});
{%- else %}
    const {{ operation.query_identifier }} = mergeQuery(undefined, {{ operation.request_options_identifier }});
{%- endif %}
{%- if has_headers %}
    const {{ operation.headers_identifier }} = new globalThis.Headers();
{%- for param in header_params %}
{%- if param.required %}
    {{ operation.headers_identifier }}.set("{{ param.name }}", String({{ param.identifier | default(value=param.name) }}));
{%- else %}
    if ({{ param.identifier | default(value=param.name) }} !== undefined) {
{%- if param.attributes.content_encoding %}
      validateStringEncoding({{ param.identifier | default(value=param.name) }}, "{{ param.attributes.content_encoding }}", "header `{{ param.name }}`", this.validateContentEncodings, {{ operation.request_options_identifier }});
{%- endif %}
      {{ operation.headers_identifier }}.set("{{ param.name }}", String({{ param.identifier | default(value=param.name) }}));
    }
{%- endif %}
{%- endfor %}
{%- if has_json_body %}
    {{ operation.headers_identifier }}.set("Content-Type", "application/json");
{%- endif %}
    const {{ operation.merged_headers_identifier }} = mergeHeaders(this.defaultHeaders, {{ operation.headers_identifier }}, {{ operation.request_options_identifier }});
{%- else %}
    const {{ operation.merged_headers_identifier }} = mergeHeaders(this.defaultHeaders, undefined, {{ operation.request_options_identifier }});
{%- endif %}
    const {{ operation.request_init_identifier }} = createRequestInit({{ operation.request_options_identifier }});
    {{ operation.request_init_identifier }}.method = "{{ operation.method | upper }}";
    if ({{ operation.merged_headers_identifier }}) { {{ operation.request_init_identifier }}.headers = {{ operation.merged_headers_identifier }}; }
{%- if operation.request_body %}
{%- set body_kind = operation.request_body.media_type | ts_body_kind %}
{%- if operation.request_body.required %}
{%- if body_kind == "json" %}
    {{ operation.request_init_identifier }}.body = JSON.stringify({{ operation.body_identifier }});
{%- elif body_kind == "form" %}
    {{ operation.request_init_identifier }}.body = toFormData({{ operation.body_identifier }} as unknown as Record<string, unknown>);
{%- else %}
    {{ operation.request_init_identifier }}.body = {{ operation.body_identifier }} as BodyInit;
{%- endif %}
{%- else %}
    if ({{ operation.body_identifier }} !== undefined) {
{%- if operation.request_body.attributes.content_encoding %}
      validateStringEncoding({{ operation.body_identifier }}, "{{ operation.request_body.attributes.content_encoding }}", "request body", this.validateContentEncodings, {{ operation.request_options_identifier }});
{%- endif %}
{%- if body_kind == "json" %}
      {{ operation.request_init_identifier }}.body = JSON.stringify({{ operation.body_identifier }});
{%- elif body_kind == "form" %}
      {{ operation.request_init_identifier }}.body = toFormData({{ operation.body_identifier }} as unknown as Record<string, unknown>);
{%- else %}
      {{ operation.request_init_identifier }}.body = {{ operation.body_identifier }} as BodyInit;
{%- endif %}
    }
{%- endif %}
{%- endif %}
    const {{ operation.response_identifier }} = await this.fetchFn(buildUrl(this.baseUrl, {{ operation.path_identifier }}, {{ operation.query_identifier }}), {{ operation.request_init_identifier }});
    return {{ operation.response_identifier }};
  }
{%- if has_doc %}

  /**
{%- if summary %}
   * {{ summary }}
{%- endif %}
{%- for p in doc_params %}
   * @param {{ p.name }} {{ p.description }}
{%- endfor %}
{%- if deprecated %}
   * @deprecated This operation is deprecated.
{%- endif %}
   */
{%- endif %}
  async {{ method_name }}({{ args_sig }}): Promise<{{ return_type }}> {
    const {{ operation.response_identifier }} = await this.{{ raw_method_name }}({{ fwd_args }});
    await handleError({{ operation.response_identifier }}, this.onError, {{ operation.request_options_identifier }});
    return await parseResponse<{{ return_type }}>({{ operation.response_identifier }}, this.validateContentEncodings, {% if response_encoding %}"{{ response_encoding }}"{% else %}undefined{% endif %}, {{ operation.request_options_identifier }});
  }
