{% if model.is_enum -%}
export type {{ model.type_name }} = {{ model.enum_expression }};
{% elif model.is_alias -%}
export type {{ model.type_name }} = {{ model.alias_expression }};
{% else -%}
export interface {{ model.type_name }} {
{%- for field in model.fields %}
  {{ field.name }}{% if field.optional %}?{% endif %}: {{ field.ts_type }};
{%- endfor %}
}
{% endif %}
